<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>263171351553-5rq54j1vsjmvbdflrn9ebbc5q8p0ijf1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.263171351553-5rq54j1vsjmvbdflrn9ebbc5q8p0ijf1</string>
	<key>API_KEY</key>
	<string>AIzaSyAxtdYN_Fz0o6pNHjR7hQ68m4D4HyiXnYo</string>
	<key>GCM_SENDER_ID</key>
	<string>263171351553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.scoreBoardDetect</string>
	<key>PROJECT_ID</key>
	<string>score-board-detect</string>
	<key>STORAGE_BUCKET</key>
	<string>score-board-detect.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:263171351553:ios:b5f76004c44598e5d3cc00</string>
</dict>
</plist>